<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <!-- Style modernist (GitHub Pages zaciągnie je sam) -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <nav>
          <ul>
            {% for item in site.data.navigation %}
              <li>
                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>© {{ site.time | date: "%Y" }} – Homelab Docs</p>
      </footer>
    </div>
  </body>
</html>
